
/* Tags 
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/*  */

#main {
    padding: 60px 15px 0;
    overflow: hidden;
    
}
.container{
    margin-top: 10px;
}

.main {
    width: 50%;
    border: hsl(208, 98%, 43%) solid 3px;
    border-bottom-left-radius: 10px;
    border-radius: 10px 10px 10px 10px;
}

.main .title {
    border-bottom: #052a388a solid 2px;
    background-color: #358ad4;
    color: #002442;;
    font-family: 'Lobster', cursive;;
    font-size: 25px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
}
.navbar-brand{
    
    font-family: 'Lobster', cursive !important;
    color: #ffffff !important;
    font-size: 25px;
}
.image{
    border-radius: 8%;
    align-items: center;
    margin-top: 15px;
}
.btn-file{
    margin-top: 1.5rem!important;
}
.text{
    font-size: 50px;
    font-family: 'Lobster', cursive;
   margin-left: 60px;
    
}
.content-words{
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-file-input{
    background-color: #222174!important;
}
.side-right-panel,
.side-left-panel {
    width: 100%;
    height: 400px;
}

.side-right-panel {
    border-left: #3333338a solid 1px;
}

.side-right-panel,
.side-left-panel .row {
    height: 100%;
    box-shadow: 5px 3px 5px 6px hsla(208, 57%, 35%, 0.562);
}

.side-left-panel {
    border-right: #222174 solid 1px;
}

.hover {
    cursor: pointer;
}

.hover:hover {
    transform: scale(1.1);
}

ul li {
    list-style: none;
}

/*****************FOOTER******************************/
.footer{
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive !important;
    color: #000000 !important;
    font-size: 25p
}
.footer li{
        display: inline;
        text-align: center;
        margin: 0 10px 0 0;
       
}
.footer li a {
    padding: 2px 7px 2px 7px; 
    text-decoration: none;  
 }
